* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  width: 350px;
  height: 350px;
  padding: 10px;
  background-color: #0087c56f;
  border-radius: 3%;
}

.regist-page {
  border-radius: 60px;
  width: 400px;
  height: 525px;
  padding: 10px;
  background-color: #00c5076f;
  border-radius: 3%;
}

.btn-main {
  text-align: center;
}

.bg-form-registrar {
  height: 100vh;
  display: flexbox;
}

.bg-form-login {
  height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bg-form-marcas-clientes {
  color: #fff;
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: #0000c573;
  border-radius: 3%;
}

.bg-form-produto {
  margin: 50px;
  color: #fff;
  width: 600px;
  height: 650px;
  padding: 10px;
  background-color: #6060609a;
  border-radius: 3%;
}
