{% extends "layouts.html" %}

{% block content %}

<div class="text-center">{% include '_messages.html'  %}</div>


<div class="container-fluid mt-3">
  <table class="table table-striped">
    <thead class="text-center">
      <th>ID</th>
      <th>Nome do Produto</th>
      <th>OP</th>
      <th>Código do Produto</th>
      <th>Cliente</th>
      <th>Editar</th>
      <th>Deletar</th>
    </thead>

    <tbody>
      {% for produto in produtos %}
      <tr class="text-center">
        <td>{{loop.index}}</td>
        <td>{{produto.name}}</td>
        <td>{{produto.op}}</td>
        <td>{{produto.codigo}}</td>
        <td>{{produto.marca.name}}</td>
        <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-outline-success btn-sm mt-2">Editar</a>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger mt-2" data-bs-toggle="modal"
            data-bs-target="#exampleModal-{{produto.id}}">
            Deletar
          </button>
        </td>
      </tr>

      <div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{produto.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja mesmo deletar este Produto {{produto.name}}?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </tbody>
  </table>

  {% for produto in produtos %}
  <div class="card mt-4 ">
    <div class="card-header">
      {{produto.marca.name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{produto.name}}</h5>
      <p class="card-text">{{produto.discription}}</p>
      <a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-success btn-md mt-2">Editar
        Descrição</a>
    </div>
  </div>
  {% endfor %}

</div>

<nav class="nav justify-content-center m-4">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin">Produtos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/marcas">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categoria">Segmentos</a>
  </li>
</nav>

{% endblock content %}