{% extends "layouts.html" %}

{% block content %}

<div class="text-center">
  {% include '_messages.html' %}
</div>


<div class="container-fluid mt-3">
  <table class="table table-sm table-striped">
    <thead class="text-center">
      <th>ID</th>
      <th>Nome</th>
      <th>Editar</th>
      <th>Deletar</th>
    </thead>

    <tbody>
      {% if marcas %}
      {% for marca in marcas %}

      <tr class="text-center">
        <td>{{loop.index}}</td>
        <td>{{marca.name}}</td>

        <td><a href="{{url_for('updatemarca', id=marca.id)}}" class="btn btn-sm btn-outline-success">Editar</a></td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
            data-bs-target="#exampleModal-{{marca.id}}">
            Deletar
          </button>
        </td>
      </tr>

      <div class="modal fade" id="exampleModal-{{marca.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{marca.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja mesmo deletar este Fabricante {{marca.name}}?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
              <form action="{{url_for('deletemarca', id=marca.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% else %}
      {% for categoria in categorias %}

      <tr class="text-center">
        <td>{{loop.index}}</td>
        <td>{{categoria.name}}</td>


        <td><a href="{{url_for('updatecat', id=categoria.id)}}" class="btn btn-sm btn-outline-success">Editar</a></td>
        <td>
          <button type="button" class="btn  btn-sm btn-outline-danger" data-bs-toggle="modal"
            data-bs-target="#exampleModal-{{categoria.id}}">
            Deletar
          </button>
        </td>
      </tr>

      <div class="modal fade" id="exampleModal-{{categoria.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{categoria.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja mesmo deletar esta Categoria {{categoria.name}}?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
              <form action="{{url_for('deletecat', id=categoria.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}

    </tbody>

  </table>
</div>

{% endblock content %}