{% extends 'layout_home.html' %}

{% block content %}

{% include '_messages.html'  %}

<body>

    <!-- header section starts  -->

    <header class="header">

        <a href="/" class="logo">
            <img src="{{url_for('static', filename='images/logo_menu_plasc.png')}}">
        </a>
        <div class="text-center">{% include '_messages.html'  %}</div>
    </header>

    <div class="text-center">{% include '_messages.html'  %}</div>

    <!-- header section ends -->

    <section class="bg-adm">
        <div class="section-1">
            <h2>Sistema de Gestão de Controle de Qualidade</h2>
            <p>Selecione um card abaixo para acessar o serviço que deseja utilizar</p>
        </div>

        <div class="section-card">
            <a href="/">
                <div class="button-27">
                    <p>INSTRUÇÕES DE TRABALHO</p>
                </div>
            </a>
            <a href="/">
                <div class="button-27">
                    <p>NORMAS INTERNAS</p>
                </div>
            </a>

            <a href="/admin">
                <div class="button-27">
                    <p>ÁREA DO ADMINSTRADOR</p>
                </div>
            </a>

            <a href="/">
                <div class="button-27">
                    <p>RECURSOS</p>
                </div>
            </a>

        </div>
    </section>

    {% endblock content %}