{% extends "layouts.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-5 bg-form-marcas-clientes p-5">
            {% include "_messages.html" %}
            {% if marcas %}
            <form class="text-center" action="" method="POST">
                <div>
                    <h1>Cadastrar Cliente</h1>
                </div>
                <input type="text" name="marca" placeholder="Digite aqui" class="form-control mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-success mt-5">
                <a href="/marcas" class="btn btn-danger mt-5" style="margin-left: 15px;"> Cancelar</a>
            </form>
            {% else %}
            <form class="text-center" action="" method="POST">
                <div class="mt-5">
                    <h1>Cadastrar Segmento</h1>
                </div>
                <input type="text" name="categoria" placeholder="Digite aqui" class="form-control mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-success mt-5">
                <a href="/categoria" class="btn btn-danger mt-5" style="margin-left: 15px;"> Cancelar</a>
                <div>
                    <h1></h1>
                </div>
            </form>
            {% endif %}

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}