{% extends 'layouts.html' %}


{% block content %}

{% include '_messages.html' %}


<!-- start header-->

<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/admin"> <img
                        src="{{url_for('static', filename='images/logo_menu_plasc.png')}}" width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/marcas">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria">Segmentos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Adicionar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/addmarca">Cliente</a></li>
                                <li><a class="dropdown-item" href="/addcat">Segmento</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/addproduto">Produto</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- end header-->

<div class="container-fluid bg-produtos">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 p-2 bg-form-produto">
            <h2 class="text-center p-2">ADICIONAR PRODUTOS</h2>
            {% from "_forms_ajuda.html" import render_field %}
            <form action="" method="POST" enctype="multipart/form-data">

                {{ render_field(form.name, class="form-control", placeholder="Nome do produto") }}
                {{ render_field(form.op, class="form-control", placeholder="OP do produto") }}
                {{ render_field(form.codigo, class="form-control", placeholder="Códido do produto") }}

                <label for="marca" class="mt-2">Adicionar uma marca</label>
                <select name="marca" id="marca" class="form-control" required>
                    <option value="">Selecione uma marca</option>
                    {% for marca in marcas %}
                    <option value="{{marca.id}}">{{marca.name}}</option>
                    {% endfor %}
                </select>

                <label for="categoria" class="mt-2">Adicionar uma categoria</label>
                <select name="categoria" id="categoria" class="form-control" required>
                    <option value="">Selecione uma categoria</option>
                    {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.name}}</option>
                    {% endfor %}
                </select>

                {{ render_field(form.discription, class="form-control", placeholder="Descrição do produto", rows="5") }}

                <div class="mt-2">
                    <button type="submit" class="btn btn-success">Atualizar</button>
                    <a href="/admin" class="btn btn-danger" style="margin-left: 25px;">Cancelar</a>
                </div>


            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}