{% extends 'layouts.html' %}


{% block content %}

{% include '_messages.html' %}

<div class="container-fluid bg-produtos">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 p-2 bg-form-produto">
            <h2 class="text-center p-2">ADICIONAR PRODUTOS</h2>
            {% from "_forms_ajuda.html" import render_field %}
            <form action="" method="POST" enctype="multipart/form-data">

                {{ render_field(form.name, class="form-control", placeholder="Nome do produto") }}
                {{ render_field(form.op, class="form-control", placeholder="OP do produto") }}
                {{ render_field(form.codigo, class="form-control", placeholder="Códido do produto") }}

                <label for="marca" class="mt-2">Adicionar uma marca</label>
                <select name="marca" id="marca" class="form-control" required>
                    <option value="">Selecione uma marca</option>
                    {% for marca in marcas %}
                    <option value="{{marca.id}}">{{marca.name}}</option>
                    {% endfor %}
                </select>

                <label for="categoria" class="mt-2">Adicionar uma categoria</label>
                <select name="categoria" id="categoria" class="form-control" required>
                    <option value="">Selecione uma categoria</option>
                    {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.name}}</option>
                    {% endfor %}
                </select>

                {{ render_field(form.discription, class="form-control", placeholder="Descrição do produto", rows="5") }}

                <div class="mt-2">
                    <button type="submit" class="btn btn-success">Atualizar</button>
                    <a href="/admin" class="btn btn-danger" style="margin-left: 25px;">Cancelar</a>
                </div>


            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}